/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

.list {
  list-style-type: none;
}

html {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #2e2f42;
}

body {
  padding-top: 70px;
  font-family: 'Plus Jakarta Sans';
  font-size: 1.06rem;
  color: #20282b;
  background-color: #fafbfc;
  letter-spacing: 0.02em;
  margin: 0;
  line-height: 150%;
}

input {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============== /COMMON STYLES ============== */

/* ============== MOBILE HEADER STYLES ============== */

.container {
  box-sizing: border-box;
  display: block;
  max-width: 1440px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.nav,
.btn-download-app {
  display: none;
}

.page-header {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  background: rgb(249, 250, 251, 0.8);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
@media screen and (max-width: 374px) {
  .page-header {
    position: sticky;
  }
  body {
    padding-top: 0;
  }
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: transparent;
}

.header-logo {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.mobile-menu-open-btn {
  padding: 0;
  border: 0;
  background-color: inherit;
  width: 20px;
  height: 15px;
}
.mobile-menu-open-btn-icon {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1023px) {
  .header-container {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    /* max-width: 1440px; */
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  /* .page-header {
    background: rgba(250, 251, 252, 0.8);
    backdrop-filter: blur(8px);
  } */
  .header-container {
    /* display: flex; */
    /* padding-left: 11.6rem;
    padding-right: 11.6rem; */
    padding-top: 1.06rem;
    padding-bottom: 1.06rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .svg-logo {
    width: 178px;
  }

  .nav-link {
    display: block;
    padding: 0.88rem;
    color: #20282b;
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .btn-download-app {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.38rem 1.25rem 0.6rem 1.25rem;
    border-radius: 12px;
    border: 0;
    background: var(
      --Blue-Gradient,
      linear-gradient(180deg, #007aff 0%, #4575ee 100%)
    );
    font-family: 'Plus Jakarta Sans';
    font-size: 1.06rem;
    color: #fff;
    line-height: 150%;
  }
  .nav {
    display: block;
  }

  .nav-list {
    display: flex;
    align-items: center;
    /* gap: 1.75rem; */
    padding-left: 0.125rem;
    padding-right: 0.125rem;
    /* height: 40px; */
    border-radius: 16px;
    border: 1px solid #e6e7e7;
    line-height: 150%;
  }

  /* .header-logo {
    margin-right: 126px;
  } */

  .nav {
    display: flex;
    align-items: center;
  }
}

/* @media screen and (min-width: 1158px) {
  .container {
    /* max-width: 1440px; */
/* padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
} */

@media screen and (min-width: 1158px) {
  .header-container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .header-container {
    padding-left: 11.6rem;
    padding-right: 11.6rem;
  }
}

/* @media screen and (min-width: 1440px) {
  .header-container {
    padding-left: 11.6rem;
    padding-right: 11.6rem;
  }
} */

/* -----------MOBILE_MENU----------- */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;

  background-color: #fafbfc;
  background-size: cover;
  transform: translateX(200%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0%);
}
.mobile-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-right: 16px;
  padding-left: 16px;
}

.mobile-menu-close-btn {
  /* position: absolute;
  top: 24px;
  right: 16px; */
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  /* cursor: pointer; */
  border: none;
  padding: 0;
  width: 16px;
  height: 17px;
}

.mobile-menu-logo {
  /* position: absolute;
  top: 24px;
  left: 16px; */
  padding: 0;
}

.icon-closed {
  width: 100%;
  height: 100%;
}

/* .icon-closed:hover,
.iicon-closed:focus {
  border: none;
  fill: #ed3b44;
} */

.mobile-list {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  line-height: 120%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;
}

.menu-link-mobile {
  color: #141f37;
}

.mobile-menu-navigation {
  margin: auto;
}

.btn-download-app-mobile {
  display: flex;
  width: 226px;
  height: 50px;
  padding: 6px 20px 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 0;
  background: linear-gradient(180deg, #007aff 0%, #4575ee 100%);
  font-family: 'Plus Jakarta Sans';
  font-size: 17px;
  color: #fff;
  line-height: 150%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

/* .mobile-list:focus {
  color: #e0373f;
} */

@media screen and (max-width: 767px) {
  .mobie-menu {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* ----------INTRODUCTION-------------- */

/*
 */
.section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.introduction-section {
  padding-top: 1rem;
}

.introduction-section-container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding: 4rem 1rem;
  color: #fff;
  /* padding-left: 1rem;
  padding-right: 1rem; */
  border-radius: 30px;
  background: linear-gradient(180deg, #007aff 0%, #4575ee 100%);
  box-shadow: 4px 4px 20px 0px rgba(2, 11, 22, 0.2) inset;
}

.introduction-section-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  margin: 0 auto;
  text-align: center;
  font-family: 'Plus Jakarta Sans';
  font-size: 36px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.023rem;
  text-wrap: balance;
}

.page-title-span {
  font-family: 'Bradley Hand', sans-serif;
  font-size: 47px;
  font-weight: 700;
  font-style: normal;
  text-decoration: underline;
  letter-spacing: -0.03rem;
}

.introduction-section-title {
  margin-top: 1rem;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

.introduction-item-btn {
  padding: 0.3rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.4rem;
  font-size: 17px;
  border: 0;
  background-color: inherit;
  fill: #fff;
  border-radius: 12px;
}
.btn-iPhone {
  gap: 0;
}

.introduction-item-btn:hover,
.introduction-item-btn:focus {
  background-color: #fff;
  fill: #007aff;
  color: #007aff;
}

.introduction-tab-list {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.28rem 0.25rem;
  border-radius: 16px;
  border: 1px solid #e6e7e7;
  box-shadow: 4px 4px 12px 0px rgba(2, 11, 22, 0.04);
}

.introduction-tab-list-wrapper {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* .introduction-mac-img {
  border-radius: 24px;
  overflow: hidden;
} */

.awards-list-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.introduction-awards-list {
  margin-top: 0.94rem;
  margin-bottom: 1.94rem;
  display: flex;
  justify-content: center;
  gap: 2.1rem;
}

.awards-item-wrapper {
  display: flex;
  flex-direction: column;
  color: #fafbfc;
  text-align: center;
  font-size: 10px;
  line-height: 1.5;
}
/* .awards-list-item-app {
  gap: 10px;
} */

.awards-name {
  font-size: 12px;
  font-weight: 800;
}

.download-on-app-store {
  display: block;
  width: 155px;
  margin-left: auto;
  margin-right: auto;
}

.download-on-app-store-desk {
  display: none;
}

@media screen and (min-width: 1024px) {
  .introduction-section-container {
    padding-top: 4.8rem;
    padding-bottom: 5.9rem;
    border-radius: 40px;
  }

  .introduction-section-container-wrapper {
    max-width: 982px;
    margin-left: auto;
    margin-right: auto;
  }

  .page-title {
    font-size: 48px;
    letter-spacing: -0.03rem;
  }

  .page-title-span {
    font-size: 65px;
    letter-spacing: -0.038rem;
  }

  .introduction-section-title {
    margin-top: 1.125rem;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.0075rem;
  }

  .introduction-tab-list-wrapper {
    margin-top: 1.94rem;
    margin-bottom: 0.5rem;
    display: flex;
    gap: 24px;
  }

  .introduction-awards-list {
    margin-top: 0;
    margin-bottom: 0;
  }

  .download-on-app-store {
    display: none;
  }

  .download-on-app-store-desk {
    display: block;
  }

  .awards-list-item {
    gap: 1.25rem;
  }

  .awards-item-wrapper {
    font-size: 12px;
  }

  .awards-name {
    font-size: 18px;
  }

  .awards-branch {
    width: 1.9rem;
    height: 5rem;
  }
}

@media screen and (min-width: 1280px) {
  .awards-list-item {
    gap: 2.5rem;
  }

  .introduction-awards-list {
    gap: 4.5rem;
  }
}

/* =================How It Works================= */

.works-section-container {
  /* position: relative; */
  border-radius: 30px;
  background: #fafbfc;
  box-shadow: 4px 4px 24px 0px rgba(7, 16, 19, 0.06) inset;
  padding: 3.25rem 0.9rem 5.8rem 0.9rem;
  margin-bottom: 5rem;
}

.section-title {
  color: #141f37;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.0225rem;
}

.works-title {
  margin-bottom: 2rem;
}
.works-list-wrapper {
  position: relative;
}
.works-list {
  display: flex;
  flex-direction: column;
  row-gap: 4.44rem;
}

.works-list-item {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.25rem;
  height: 6.25rem;
  /* height: 112px; */
  border-radius: 24px;
  border: 1px solid #e6e7e7;
  background: #fff;
  box-shadow: 4px 4px 12px 0px rgba(2, 11, 22, 0.04);
  margin-bottom: 1.5rem;
  fill: #007aff;
}

.works-title-text {
  text-align: center;
  color: #007aff;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 0.5rem;
}
.text {
  font-size: 15px;
}

.works-text {
  text-align: center;
}

.works-arrow-first {
  position: absolute;
  top: 15.8rem;
  left: -17.5rem;
  right: 0;
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.works-arrow-second {
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 63%;
  right: -18rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
}

@media screen and (min-width: 768px) {
  .works-section-container {
    padding-top: 5.25rem;
  }
  .works-list {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  .works-title-text {
    font-size: 24px;
  }
  .text {
    font-size: 17px;
  }
  .section-title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .works-section-container {
    border-radius: 40px;
    padding: 7.5rem 2.5rem 7.1rem 2.5rem;
  }

  .works-title {
    margin-bottom: 4rem;
  }

  .works-list {
    max-width: 1070px;
    /* margin-left: auto;
    margin-right: auto; */
    flex-direction: row;
    gap: 92px;
  }

  .works-arrow-first {
    top: 8rem;
    left: -38%;
    width: 4.5rem;
    height: 4.5rem;
    transform: rotate(-45deg);
  }

  .works-arrow-second {
    top: 25%;
    right: -37%;
    width: 6rem;
    height: 6rem;
    transform: rotate(-140deg);
  }
}

@media screen and (min-width: 1280px) {
  .works-arrow-first {
    right: -3rem;
  }

  .works-arrow-second {
    top: 28%;
    right: -30%;
  }
}

.works-block-pink {
  padding: 2rem 3rem;
  border-radius: 30px;
  background: #ff63a5;
  box-shadow: 4px 4px 20px 0px rgba(24, 2, 14, 0.2) inset;
}

.works-block-img-references {
  position: relative;
  max-width: 494px;
  margin-left: auto;
  margin-right: auto;
}

.works-references-pin {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -8px;
  left: 0;
  right: 0;
  width: 67%;
}

.works-section-block {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.works-block-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.75rem 1.5rem;
  border-radius: 30px;
  background: #fafbfc;
  box-shadow: 4px 4px 24px 0px rgba(7, 16, 19, 0.06) inset;
}

.block-title {
  color: #141f37;
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.023rem;
  margin-bottom: 1.5rem;
}

.works-block-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.works-block-violet {
  padding: 2.5rem 3rem;
  border-radius: 30px;
  background: #9343fb;
  box-shadow: 4px 4px 20px 0px rgba(15, 4, 35, 0.24) inset;
}

.works-block-img-library {
  position: relative;
  max-width: 494px;
  margin-left: auto;
  margin-right: auto;
}
.works-library {
  /* overflow: hidden; */
  border-radius: 16px;
  box-shadow: 4px 4px 16px 0px rgba(2, 11, 22, 0.12);
}

@media screen and (min-width: 500px) {
  .works-library {
    border-radius: 33px;
  }
}
.works-library-pin {
  position: absolute;
  width: 18%;
  height: 18%;
  right: 21%;
  bottom: -7%;
  margin-left: auto;
  margin-right: auto;
}

.content-block {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
}

@media screen and (min-width: 768px) {
  .works-block-wrapper {
    flex-direction: row;
    gap: 40px;
  }

  .works-section-block {
    gap: 40px;
  }

  .content-block {
    width: calc((100% - 40px) / 2);
  }

  .works-block-pink {
    padding: 5% 5%;
  }
  .works-block-text {
    padding: 5% 5%;
  }

  .works-block-wrapper-violet {
    flex-direction: row-reverse;
  }

  .works-block-violet {
    padding: 5% 5%;
  }
}

@media screen and (min-width: 980px) {
  .works-block-text-wrapper {
    max-width: 370px;
  }

  .block-title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .works-block-img-references,
  .works-block-img-library {
    max-width: 494px;
  }
}

/*=================CITATIONS===================*/

.citations-section-container {
  padding: 64px 16px 93px;
  margin-bottom: 5rem;
  border-radius: 30px;
  background: linear-gradient(180deg, #007aff 0%, #4575ee 100%);
  box-shadow: 4px 4px 20px 0px rgba(2, 11, 22, 0.2) inset;
}

.citations-section-container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 739px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.citations-title {
  margin-bottom: 16px;
  color: #fff;
}

.citations-video {
  border-radius: 14px;
  border: 13px solid #fff;
  background: lightgray 0px -0.252px / 100% 100.243% no-repeat;
  box-shadow: 4px 4px 16px 0px rgba(2, 11, 22, 0.12);
}

.citations-text {
  text-align: center;
  line-height: 150%;
  margin-bottom: 54px;
  padding-right: 10px;
  padding-left: 10px;
}

@media screen and (min-width: 768px) {
  .citations-title {
    margin-bottom: 24px;
  }
  .citations-section-container {
    padding: 120px 40px;
  }
}

@media screen and (min-width: 1280px) {
  .citations-section-container {
    padding-bottom: 180px;
  }

  .citations-video {
    border-radius: 24px;
    border-width: 24px;
  }
}

.citations-block-color {
  padding: 2.5rem 3rem;
  border-radius: 30px;
  box-shadow: 4px 4px 20px 0px rgba(25, 13, 2, 0.2) inset;
}

.citations-block-color.orange {
  position: relative;
  background: #feb62b;
}

.citations-block-color.green {
  background: #1ebe95;
}

@media screen and (min-width: 768px) {
  .citations-block-color {
    padding: 5% 5%;
  }
}

.citations-add-pin {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  height: 8%;
  top: 42%;
  left: -85%;
  right: 0;
}

.citations-apa-pin {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  max-width: 10%;
  height: 10%;
  bottom: 9%;
  left: 0;
  right: 85%;
  transform: rotate(-50deg);
  z-index: 1;
}

.citations-mla-pin {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  max-width: 11%;
  height: 11%;
  top: 45%;
  left: 87%;
  right: 0;
  transform: rotate(50deg);
  z-index: 1;
}

.citations-block-img-library {
  max-width: 494px;
  margin-left: auto;
  margin-right: auto;
}

.citations-img-add {
  z-index: 2;
  position: relative;
}

/*=============== FEATURES=================*/

.features-section-container {
  color: #fff;
  padding: 4rem 1rem;
  border-radius: 40px;
  background: #ff63a5;
  box-shadow: 4px 4px 20px 0px rgba(24, 2, 14, 0.2) inset;
}

.block-title.white {
  color: #fff;
}

.reference-types-block,
.figures-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  margin-bottom: 93px;
}

.reference-types-block {
  gap: 108px;
  padding-bottom: 29px;
}

.reference-type-img {
  border-radius: 15px;
  background: lightgray -26.971px -42.619px / 118.129% 126.296% no-repeat;
  box-shadow: 4.403px 4.403px 25.1px 0px rgba(2, 11, 22, 0.25);
}

.figures-block {
  padding-bottom: 50px;
  gap: 32px;
}

.reference-img-wrapper {
  position: relative;
  padding-bottom: 2.3rem;
  padding-right: 0.8rem;
  padding-left: 2.9rem;
}

.pyramid-wrapper {
  border-radius: 13px;
  box-shadow: 4px 4px 12px 0px rgba(2, 11, 22, 0.04);
  overflow: hidden;
}

.features-horse-wrapper {
  overflow: hidden;
  border-radius: 13px;
  background: lightgray 50% / contain no-repeat;
  box-shadow: 4px 4px 24px 0px rgba(2, 11, 22, 0.24);
  position: absolute;
  inset: auto auto 0% 0%;
}

.features-graph-wrapper {
  position: absolute;
  max-width: 118px;
  inset: auto 0% 0% auto;
}

.reference-type-img,
.features-pyramid,
.features-horse,
.features-graph {
  height: auto;
  object-fit: contain;
}

.reference-img-wrapper-big {
  display: none;
}

@media screen and (min-width: 540px) {
  .features-section-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .features-horse-wrapper {
    inset: auto auto -12% -7%;
  }

  .features-graph-wrapper {
    max-width: 206px;
    inset: auto -5% -12% auto;
  }
}

@media screen and (min-width: 768px) {
  .reference-img-wrapper-big {
    display: block;
    position: relative;
    padding-bottom: 2.3rem;
    padding-right: 0.8rem;
    padding-left: 2.9rem;
  }

  .reference-img-wrapper {
    display: none;
  }
  .features-section-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .reference-types-block,
  .figures-block {
    margin-bottom: 50px;
  }

  .features-graph-wrapper {
    max-width: 118px;
  }

  .reference-types-block {
    flex-direction: row-reverse;
    justify-content: space-around;
    max-width: 1194px;
    gap: 0;
  }

  .figures-block {
    flex-direction: row;
    justify-content: space-around;
    max-width: 1194px;
    padding-bottom: 30px;
  }

  .reference-block-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 5% 5%;
  }

  .figures-block-text {
    padding-left: 0;
    padding-right: 5%;
  }

  .reference-block-text-wrapper {
    max-width: 390px;
  }

  .reference-type-img {
    max-width: 415px;
  }
}

@media screen and (min-width: 1024px) {
  .features-section-container {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .features-graph-wrapper {
    max-width: 206px;
    bottom: -20%;
  }

  .features-horse-wrapper {
    left: -15%;
    bottom: -20%;
  }

  .figures-block {
    margin-bottom: 135px;
  }
}

.letter-block {
  gap: 50px;
  margin-bottom: 92px;
}

.reference-letter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1%;
}

.letter-center-wrapper {
  position: relative;
  display: flex;
  width: 48%;
  align-items: center;
  z-index: 2;
  border-radius: 8px;
  box-shadow: 4px 4px 24px 0px rgba(2, 11, 22, 0.24);
  overflow: hidden;
}

.letter-left-wrapper {
  position: absolute;
  width: 41%;
  z-index: 1;
  left: 1%;
  transform: rotate(-13deg);
  border-radius: 8px;
  box-shadow: 4px 4px 24px 0px rgba(2, 11, 22, 0.24);
  overflow: hidden;
}
.letter-right-wrapper {
  position: absolute;
  width: 41%;
  z-index: 1;
  right: 1%;
  transform: rotate(13deg);
  border-radius: 8px;
  box-shadow: 4px 4px 24px 0px rgba(2, 11, 22, 0.24);
  overflow: hidden;
}

.letter-block-text {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .letter-block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    max-width: 1194px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .reference-letter-wrapper {
    width: 47%;
    max-width: 670px;
  }

  .letter-block-text {
    margin-bottom: 0;
    padding-right: 1%;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}

.features-list-item {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.75rem;
  height: 5.75rem;
  border-radius: 24px;
  border: 1px solid #e6e7e7;
  background: #fff;
  box-shadow: 4px 4px 12px 0px rgba(2, 11, 22, 0.04);
  fill: #007aff;
}

.features-title-text {
  font-size: 20px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    margin-top: 0;
    justify-content: space-around;
  }

  .features-block-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 385px;
    margin-bottom: 50px;
  }

  .features-list-item {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 24px;
    width: 278px;
  }
}

@media screen and (min-width: 1024px) {
  .features-icon {
    width: 6.25rem;
    height: 6.25rem;
  }

  .features-title-text {
    font-size: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .features-section-container {
    padding-top: 133px;
    padding-bottom: 194px;
  }
}

/* -------===========-- Reviews ------============----- */

.more {
  display: none;
}

.reviews-section-container {
  padding: 64px 24px;
  border-radius: 30px;
  background: #fafbfc;
  box-shadow: 4px 4px 24px 0px rgba(7, 16, 19, 0.06) inset;
}

.reviews-title {
  text-align: left;
  margin-bottom: 32px;
}

.reviews-block-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.reviews-block-text {
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #e6e7e7;
  background: #fff;
  box-shadow: 4px 4px 12px 0px rgba(2, 11, 22, 0.04);
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: space-between;
}

.reviews-block-title {
  color: #071013;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.006em;
}

.myBtn {
  padding: 0;
  border: 0;
  background-color: inherit;
  color: #007aff;
  font-size: 17px;
  line-height: 150%;
}

@media screen and (min-width: 768px) {
  .reviews-section-container {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  .reviews-title {
    text-align: center;
    margin-bottom: 47px;
  }

  .reviews-block-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 688px;
    margin-left: auto;
    margin-right: auto;
  }

  .reviews-block-text {
    max-width: 274px;
  }

  .reviews-block-title {
    font-size: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-section-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .reviews-block-text {
    max-width: 490px;
  }

  .reviews-block-wrapper {
    max-width: 1152px;
  }

  .reviews-block-text {
    padding: 32px;
  }
}

/* =======================REVIEW MODAL====================== */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 16, 19, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
  border-radius: 24px;
  border: 1px solid #e6e7e7;
  background-color: #fff;
  box-shadow: 4px 4px 12px 0px rgba(2, 11, 22, 0.04);
  width: 60%;
  height: auto;
  max-width: 728px;
}

.modal-title {
  margin-bottom: 12px;
}

.close {
  display: flex;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  color: #9c9fa1;
  font-size: 24px;
  cursor: pointer;
  line-height: 85%;
}

/* ======================= PRICING ====================== */

.pricing-section-container {
  padding: 64px 16px;
  border-radius: 30px;
  background: linear-gradient(180deg, #007aff 0%, #4575ee 100%);
  box-shadow: 4px 4px 20px 0px rgba(2, 11, 22, 0.2) inset;
}
.pricing-section-container-wrapper {
  max-width: 396px;
}

.pricing-text {
  margin-bottom: 40px;
}

.pricing-item-flex {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.pricing-item-card {
  max-width: 266px;
  border-radius: 24px;
  box-shadow: 4px 4px 16px 0px rgba(2, 11, 22, 0.12);
  overflow: hidden;
}

.pricing-item {
  border: 1px solid #e6e7e7;
  background: #ffff;
}

.pricing-item-top {
  color: #071013;
  padding: 16px 24px 24px;
  text-align: center;
}

.pricing-item-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.0075em;
}
.pricing-item-top.dark {
  background-color: #071013;
  border: 0;
  color: #fff;
}

.pricing-item-bottom {
  color: rgba(106, 112, 113, 1);
  padding: 24px 32px;
  border-top: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.numeric {
  color: #071013;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}

.pricing-download-box {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}

.pricing-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 12px;
  border: 1px solid #e6e7e7;
  background: #fff;
}

@media screen and (min-width: 768px) {
  .pricing-section-container {
    padding-top: 120px;
    padding-bottom: 120px;
    border-radius: 40px;
  }
  .pricing-section-container-wrapper {
    max-width: 575px;
  }

  .pricing-text {
    margin-bottom: 48px;
  }

  .pricing-item-flex {
    flex-direction: row;
    gap: 40px;
    margin-bottom: 30px;
  }

  .pricing-item-top {
    padding: 24px;
  }
  .pricing-item-bottom {
    padding: 24px 35px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .pricing-section-container {
    padding-bottom: 164px;
  }
}

/* ======================= FAQ ====================== */

.faq-section-container {
  position: relative;
  padding: 64px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 30px;
  background: #fafbfc;
  box-shadow: 4px 4px 24px 0px rgba(7, 16, 19, 0.06) inset;
  overflow: hidden;
}

.faq-title {
  text-align: left;
}
.faq-content-tab {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Основний контейнер Swiper */
.swiper-container {
  /* position: relative; */
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid #e6e7e7;
  max-width: 420px;
  padding: 4px 4px 0;
}

/* Стилізація кнопок */
.faq-item-btn {
  width: auto !important;
  flex: 0 0 auto;
  border: none;
  cursor: pointer;
  padding: 0.33rem 0.75rem;
  display: inline-block;
  text-align: center;
  font-size: 17px;
  background-color: inherit;
  border-radius: 12px;
}

.swiper-scrollbar {
  background: #ddd;
  height: 4px;
  border-radius: 3px;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}

.faq-item-btn:hover {
  color: #fff;
  background: linear-gradient(180deg, #007aff 0%, #4575ee 100%);
}

/* .faq-item-btn-Requirements {
  width: 100px;
} */

.ac-text {
  visibility: hidden;
  transition: max-height ease;
  transition: height, visibility;
}

.is-active-faq.ac-faq > .ac-text {
  visibility: visible;
}

.ac-faq.js-enabled {
  overflow: hidden;
}

.ac-trigger {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  fill: #071013;
}

.is-active-faq.ac-faq > .faq-ac-title > .ac-trigger {
  transform: rotate(45deg);
}

.ac-faq {
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
  padding: 16px 24px;
  border-radius: 24px;
  border: 1px solid #e6e7e7;
  background: #fff;
  box-shadow: 4px 4px 12px 0px rgba(2, 11, 22, 0.04);
}

.faq-ac-title {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  /* padding-bottom: 16px; */
}

.ac-text {
  font-size: 15px;
  line-height: 150%;
  /* padding-top: 16px; */
}

.email-button {
  display: block;
  color: #007aff;
  padding: 16px 32px;
  border-radius: 16px;
  border: 1px solid #007aff;
  box-shadow: 4px 4px 12px 0px rgba(2, 11, 22, 0.04);
  width: 70px;
  margin-top: 32px;
}

.faq-accordion-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 535px;
}
.swiper {
  margin-left: 0;
  margin-right: auto;
}

@media screen and (min-width: 510px) {
  .swiper-scrollbar {
    display: none;
  }

  .swiper-container {
    padding-bottom: 4px;
  }
}

/* @media screen and (min-width: 768px) {
  .faq-section-container {
    padding-top: 120px;
    padding-bottom: 120px;
    flex-direction: row;
    gap: 79px;
  }

  .tab-list-swiper {
    max-width: 235px;
  }

  .faq-tab-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80px;
  }
} */
